.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.loading {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(168, 168, 168);
  font-size: 25px;
  transition: all 0.5s ease;
}

.loading svg {
  display: block;
  height: 200px;
  animation: spin 2s linear infinite;
}

canvas {
  height: 100%;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
